fastapi==0.116.1
starlette==0.47.2
pydantic==2.11.7
python-dotenv==1.1.1
requests==2.32.4
beautifulsoup4==4.13.4
redis>=5.0
SQLAlchemy>=2.0
psycopg2-binary>=2.9
uvicorn==0.35.0
pytest==8.3.3
pytest-sugar
pytest-rich
